.container {
    background: SlateBlue;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    margin: auto;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  }
  